<!DOCTYPE html> 
<html lang="en"> 
    <head class="font-mono"> 
        <meta charset="UTF-8"> 
        <link rel="stylesheet" href={{ url_for('static', filename='css/main.css') }}  />  

            {% block head %} {% endblock %}
        </head> 
    <body class="flex bg-gray-100 pt-16">
        <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 h-[calc(100vh-2rem)] w-full max-w-[20rem] p-4 shadow-xl shadow-blue-gray-900/5">
            <div class="mb-2 p-4">
              <h5 class="block antialiased tracking-normal font-sans text-xl font-semibold leading-snug text-gray-900">Options</h5>
            </div>
                <nav class="flex flex-col gap-1 min-w-[240px] p-2 font-sans text-base font-normal text-gray-700">
                    <a href="/environments_page" class="flex items-center w-full p-3 rounded-lg text-start leading-tight transition-all hover:bg-blue-50 hover:bg-opacity-80 focus:bg-blue-50 focus:bg-opacity-80 active:bg-gray-50 active:bg-opacity-80 hover:text-blue-900 focus:text-blue-900 active:text-blue-900 outline-none">
                        <div class="grid place-items-center mr-4">
                            <img src="{{ url_for('static', filename='images/earth_silhouette.svg') }}" fill="currentColor" aria-hidden="true" class="h-5 w-5">
                        </div>
                        Environments
                    </a>
                    <a href="/create_environment_page" class="flex items-center w-full p-3 rounded-lg text-start leading-tight transition-all hover:bg-blue-50 hover:bg-opacity-80 focus:bg-blue-50 focus:bg-opacity-80 active:bg-blue-50 active:bg-opacity-80 hover:text-blue-900 focus:text-blue-900 active:text-blue-900 outline-none">
                        <div class="grid place-items-center mr-4">
                            <img src="{{ url_for('static', filename='images/addition.svg') }}" fill="currentColor" aria-hidden="true" class="h-5 w-5">
                        </div>
                        Create Environment
                    </a>
                </nav>
            </div>
        </div>
        {% block body %} {% endblock %}
    </body> 
</html>